<template>
  <div class="contact-address">
    <div>Verein Denkmalmit</div>
    <div>
      <span>Erlenstrasse 41</span>
      <div>
        <span>4058</span>&nbsp;
        <span>Basel</span>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.contact {
  a {
    font-weight: 600;
  }
}
</style>
