<template>
  <section id="donate">
    <div class="payment">
      <div class="row">
        <div>
          <h4>Kontodaten</h4>
          <div>
            <span>IBAN:</span>
            <span>CH28 0900 0000 6147 1153 4</span>
          </div>
          <div>
            <small>Denkmalmit - Erlenstrasse 41, 4058 Basel</small>
          </div>
          <div>
            <small>BIC: POFICHBEXXX</small>
          </div>
        </div>
        <div>
          <h4>PayPal</h4>
          <form
            action="https://www.paypal.com/cgi-bin/webscr"
            method="post"
            target="_top"
          >
            <input type="hidden" name="cmd" value="_s-xclick" />
            <input
              type="hidden"
              name="hosted_button_id"
              value="59VHN8MS4KYJQ"
            />
            <input
              type="image"
              src="https://www.paypalobjects.com/de_DE/CH/i/btn/btn_donateCC_LG.gif"
              border="0"
              name="submit"
              alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal."
            />
            <img
              alt
              border="0"
              src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif"
              width="1"
              height="1"
            />
          </form>
        </div>
      </div>

      <div class="row">
        <div>
          <h4>Einzahlungsschein</h4>
          <div>
            Gerne schicken wir Dir einen Einzahlungsschein nach Hause. Bitte
            sende uns eine E-Mail mit deiner Postanschrift an
            <a
              href="mailto:kontakt@denkmal.org?subject=Einzahlungsschein%20Denkmalmit&body=Name%3A%0D%0AVorname%3A%0D%0AAdresse%3A"
              >kontakt@denkmal.org</a
            >.
          </div>
        </div>
        <div>
          <div class="crypto">
            <h4>&lt;Nerdzone&gt;</h4>
            <ul>
              <li>
                <label for="bitcoin">Bitcoin (BTC)</label>
                <input
                  id="bitcoin"
                  type="text"
                  value="3499tkbuTCjYaMDye6bse7GvcEJrhXAK9e"
                  readonly="readonly"
                />
                <a href="javascript:;" class="icon copy" alt="Copy Address"></a>
              </li>
              <li>
                <label for="ethereum">Ethereum (ETH)</label>
                <input
                  id="ethereum"
                  type="text"
                  value="0x1de405cDD0Bc079847003750490Ea6234Ea57c45"
                  readonly="readonly"
                />
                <a href="javascript:;" class="icon copy" alt="Copy Address"></a>
              </li>
              <li v-show="cryptoExtended">
                <label for="dogecoin">Dogecoin (DOGE)</label>
                <input
                  id="dogecoin"
                  type="text"
                  value="D9GsaaGHBbEMo4VQLShUb9WxMh1inXNgio"
                  readonly="readonly"
                />
                <a href="javascript:;" class="icon copy" alt="Copy Address"></a>
              </li>
              <li v-show="cryptoExtended">
                <label for="litecoin">Litecoin (LTC)</label>
                <input
                  id="litecoin"
                  type="text"
                  value="MCJBx6wQ1LNzysodt3tzfNkHcKjizMpeNU"
                  readonly="readonly"
                />
                <a href="javascript:;" class="icon copy" alt="Copy Address"></a>
              </li>
              <li v-show="cryptoExtended">
                <label for="dash">Dash (DASH)</label>
                <input
                  id="dash"
                  type="text"
                  value="Xh3NaTs4dbfXVCEHKKmfZC7NKD5xxJ9WdF"
                  readonly="readonly"
                />
                <a href="javascript:;" class="icon copy" alt="Copy Address"></a>
              </li>
              <li v-show="cryptoExtended">
                <label for="cardano">Cardano (ADA)</label>
                <input
                  id="cardano"
                  type="text"
                  value="DdzFFzCqrht2pSYxQEWMHgbpCR5PXeGmdGPUeorbNR6gbbqiKV3dLjdFZQCtAH8UwvfgPSRK51vhotziJEBrKP8SyBnRMycPPtXi7Uun"
                  readonly="readonly"
                />
                <a href="javascript:;" class="icon copy" alt="Copy Address"></a>
              </li>
              <li v-show="cryptoExtended">
                <label for="monero">Monero (XMR)</label>
                <input
                  id="monero"
                  type="text"
                  value="4HJNXGgD24fWZ7wk8DGxLRhVD4wMhGH8s64WzoF3yAKg72442jY2fQEhFXbe6poDwULgeXbkSo4WFbNLZARajuJ7RzwfLxbiij7ND3rLTg"
                  readonly="readonly"
                />
                <a href="javascript:;" class="icon copy" alt="Copy Address"></a>
              </li>
            </ul>
            <a
              v-show="!cryptoExtended"
              class="crypto-more"
              href="javascript:;"
              @click="cryptoExtended = true"
              >Mehr anzeigen</a
            >
          </div>
        </div>
      </div>
    </div>
    <p>Herzlichen Dank für Deine Spende!</p>
  </section>
</template>

<script>
export default {
  data: () => ({
    cryptoExtended: false
  }),

  mounted() {
    ;(function() {
      var links = document.querySelectorAll('.crypto ul a')
      links.forEach(function(element) {
        element.onclick = function(element) {
          var el = element.currentTarget.previousElementSibling
          el.select()
          document.execCommand('Copy')
        }
      })
    })()
  }
}
</script>

<style lang="scss">
#donate {
  .payment {
    background-color: #afd2ca21;
    border: 1px solid #afd2ca;
    padding: 12px 12px 12px;
  }

  .row:first-child > div:first-of-type h5 {
    margin-top: 0.4em;
  }

  @media (min-width: 760px) {
    .row {
      display: flex;
    }

    .row > div {
      flex-basis: 50%;
      width: 50%;
    }

    .row:first-child > div h5 {
      margin-top: 0.4em;
    }

    .row > div:first-of-type {
      padding-right: 40px;
    }
  }

  .crypto {
    margin-bottom: 1em;

    ul {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
      margin-top: 0;
      padding: 0;

      li {
        align-items: center;
        display: flex;
        font-size: 0.9em;
        margin-bottom: 0.1em;
        position: relative;

        a {
          opacity: 0.6;
          padding: 2px 12px;
          position: absolute;
          right: 0;
        }
      }
    }

    label {
      margin-right: 5px;
      width: 120px;

      &::after {
        content: ':';
      }
    }

    input {
      flex-grow: 1;
      font-size: inherit;
      padding: 5px 30px 5px 12px;
    }

    .hidden {
      display: none;
    }

    .crypto-more {
      float: right;
    }
  }

  h3 {
    color: #ad940e;
  }

  .donate-details {
    font-size: 0.8em;
  }

  .icon {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-flex;
    height: 16px;
    position: relative;
    width: 16px;
  }

  .icon.copy {
    background-image: url('/images/copy.svg');
  }
}
</style>
