<template>
  <footer id="footer">
    <div class="boundaries">
      <div class="flex">
        <div class="flex-logo">
          <img class="logo" src="/images/logo-white.svg" alt="Denkmalmit" />
        </div>

        <div class="flex-contact">
          <contact-address />
          <div class="iban">
            <span>IBAN:</span>&nbsp;
            <span>CH28 0900 0000 6147 1153 4</span>
          </div>
          <div>
            <a href="mailto:kontakt@denkmal.org">kontakt@denkmal.org</a>
          </div>
          <a
            href="/images/MediaPackage.zip"
            alt="Media Package"
            download="Denkmal-MediaPackage"
            >Media Package</a
          >
        </div>

        <div class="flex-social">
          <social-links
            listType="simple"
            :items="[
              'denkmal',
              'gitlab',
              'slack',
              'medium',
              'newsletter',
              'instagram',
              'twitter',
              'facebook'
            ]"
          />
        </div>

        <div class="flex-action">
          <a
            class="button button--outline"
            href="https://docs.google.com/forms/d/e/1FAIpQLSecptumZAPUwRP7wSV5amiUocH60AMnJmuuY-fR0_R00PE4GQ/viewform?usp=sf_link"
            target="_blank"
            rel="noopener"
            >Mitglied werden</a
          >
        </div>
      </div>

      <div class="©">© {{ year }} denkmalmit.org</div>
    </div>
  </footer>
</template>

<script>
import ContactAddress from '~/components/ContactAddress.vue'
import SocialLinks from '~/components/SocialLinks.vue'

export default {
  components: {
    ContactAddress,
    SocialLinks
  },
  data: () => ({
    year: new Date().getFullYear()
  })
}
</script>

<style lang="scss">
@import '~/assets/variables.css';

#footer {
  background-color: var(--color-black);
  font-size: 0.9em;
  line-height: 1.5;
  padding-bottom: 2vmin;
  padding-top: 7vmin;

  &,
  a {
    color: rgb(220, 220, 220);
  }

  a:not(.button) {
    display: inline-flex;
    font-weight: 600;
    padding: 2px;

    &:hover {
      text-decoration: underline;
    }
  }

  .iban {
    margin-bottom: 0.5em;
    white-space: nowrap;
  }

  .flex {
    @media screen and (min-width: 840px) {
      display: flex;
    }

    > div {
      margin-bottom: 1em;
    }

    .flex-logo {
      img {
        margin-top: 4px;
        padding-right: 40px;
        width: 190px;
      }
    }

    .flex-contact {
      padding-right: 40px;
    }

    .flex-social {
      flex-grow: 1;
      padding-right: 40px;
    }

    .flex-action {
      .button {
        background-color: transparent;
        border-color: white;
        color: white;
      }

      margin-bottom: 2em;
      margin-top: 2em;

      @media screen and (min-width: 840px) {
        margin-bottom: 1em;
        margin-top: 0;
      }
    }
  }

  .© {
    font-size: 0.8em;

    @media screen and (min-width: 840px) {
      text-align: right;
    }
  }
}
</style>
