<template>
  <header id="header">
    <div class="header-default">
      <div class="background">
        <img class="stars" src="/images/header/stars.svg" alt="Stars" />
        <img
          class="clouds-back"
          src="/images/header/clouds-back.svg"
          alt="Clouds"
        />
        <img
          class="clouds-front"
          src="/images/header/clouds-front.svg"
          alt="Clouds"
        />
      </div>
      <div class="boundaries bar">
        <div>
          <nuxt-link to="/">
            <img class="logo" src="/images/logo-white.svg" alt="Denkmalmit" />
          </nuxt-link>
          <div class="subtitle">Der Verein hinter Denkmal.org</div>
        </div>
      </div>
    </div>

    <div class="header-fixed">
      <div class="boundaries bar">
        <img class="logo" src="/images/logo-white.svg" alt="Denkmalmit" />

        <div class="bar-right">
          <a
            class="button"
            href="https://docs.google.com/forms/d/e/1FAIpQLSecptumZAPUwRP7wSV5amiUocH60AMnJmuuY-fR0_R00PE4GQ/viewform?usp=sf_link"
            target="_blank"
            rel="noopener"
            >Mitglied werden</a
          >
          <social-links />
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import _ from 'underscore'
import SocialLinks from '~/components/SocialLinks'

export default {
  components: {
    SocialLinks
  },
  data: () => ({
    offsetTop: null,
    offsetSticky: null
  }),
  mounted() {
    this.offsetSticky =
      document.querySelector('#header .header-fixed').offsetTop +
      document.querySelector('#header').offsetHeight

    basicScroll
      .create({
        elem: document.querySelector('#header'),
        from: 'top-top',
        to: 'bottom-top',
        direct: true,
        props: {
          '--translateY': {
            from: '0%',
            to: '100%'
          }
        }
      })
      .start()

    window.addEventListener('scroll', this.scrollAction)
  },
  methods: {
    scrollAction: function() {
      this.offsetTop = window.pageYOffset || document.documentElement.scrollTop
      var layout = this.$el
      var self = this

      _.throttle(function() {
        layout.classList.toggle(
          'header--fixed',
          self.offsetTop > self.offsetSticky
        )
      }, 100)()
    }
  },
  unbind() {
    window.removeEventListener('scroll', this.scrollAction)
  }
}
</script>

<style lang="scss">
@import '~/assets/variables.css';

#header {
  align-items: flex-start;
  background-color: var(--color-black);
  color: white;
  display: flex;
  height: 50vmin;
  margin-bottom: -5vmin;
  overflow: hidden;
  position: relative;
  z-index: 2;

  a {
    display: inline-flex;
  }

  .header-default {
    background-image: linear-gradient(to top, #4a4a4c, #212121);
    flex-grow: 1;
    height: 100%;
    position: relative;

    .bar {
      align-items: center;
      display: flex;
      height: 80px;
      position: relative;

      @media screen and (min-width: 600px) {
        height: 120px;
      }

      .subtitle {
        font-size: 0.7em;
        opacity: 0.5;
        position: relative;
        top: -8px;

        @media screen and (min-width: 600px) {
          font-size: 0.88em;
        }
      }

      .logo {
        width: 170px;

        @media screen and (min-width: 600px) {
          width: 200px;
        }
      }
    }

    .background {
      display: flex;
      height: 100%;
      justify-content: center;
      left: auto;
      left: 50%;
      margin: 0 auto;
      max-width: var(--page-width);
      position: absolute;
      transform: translateX(-50%);
      width: 100%;

      img {
        bottom: 0;
        max-width: none;
        position: absolute;
        transition: transform 0.1s;
        width: 110%;
        will-change: transform;
      }

      .stars {
        bottom: 10%;
        transform: translateY(calc(var(--translateY) * 0.5));
        width: 120%;
      }

      .clouds-back {
        bottom: -1%;
        /* stylelint-disable*/
        transform: translate(
          calc(var(--translateY) * 0.015),
          calc(var(--translateY) * 0.15)
        );

        width: 120%;
      }

      .clouds-front {
        bottom: -20%;
        transform: translate(
          calc(var(--translateY) * -0.02),
          calc(var(--translateY) * 0.2)
        );
      }
    }
  }

  .header-fixed {
    background-color: var(--color-black);
    height: 60px;
    position: fixed;
    top: 0;
    transform: translateY(-100%);
    transition: 300ms transform;
    width: 100%;
    z-index: 10;

    .bar {
      align-items: center;
      display: flex;
      height: 100%;
    }

    .logo {
      width: 170px;
    }

    .bar-right {
      align-items: center;
      display: flex;
      margin-left: auto;

      .social-links .list-icons a {
        padding-right: 0;
      }

      > * {
        opacity: 0;
        pointer-events: none;
        transform: translateX(50px);
        transition: 400ms 200ms cubic-bezier(0.175, 0.885, 0.32, 1.075);

        &:nth-child(2) {
          transition-delay: 300ms;
        }
      }
    }

    .button {
      display: none;

      @media screen and (min-width: 500px) {
        display: inline-flex;
      }
    }
  }

  &.header--fixed .header-fixed {
    transform: translateY(0);

    .bar .bar-right > * {
      opacity: 1;
      pointer-events: auto;
      transform: translateX(0);
    }
  }
}
</style>
