<template>
  <section class="social-links">
    <ul v-if="listType === 'simple'" class="list-simple">
      <li v-for="(item, key, index) in sortedList" :key="index">
        <a
          v-if="typeof item.url === 'string'"
          :href="item.url"
          target="_blank"
          rel="noopener"
          :title="item.name"
          >{{ item.link || item.name }}</a
        >

        <template v-else>
          {{ item.name }}:
          <a
            :href="item.url.basel"
            target="_blank"
            rel="noopener"
            :title="item.name"
            >BS</a
          >
          <a
            :href="item.url.tsri"
            target="_blank"
            rel="noopener"
            :title="item.name"
            >ZH</a
          >
        </template>
      </li>
    </ul>
    <ul v-if="listType === 'details'" class="list-detailed">
      <li v-for="(item, key, index) in sortedList" :key="index">
        <div class="list-image">
          <img
            :src="`/images/social/${item.icon ? item.icon : item.name}.svg`"
            :alt="item.name"
          />
        </div>
        <div class="list-content">
          <span class="name semibold">{{ item.name }}</span>
          <span class="abstract">{{ item.abstract }}</span>
          <p>
            <span v-html="item.description"></span>&nbsp;
            <a
              v-if="typeof item.url === 'string'"
              :href="item.url"
              target="_blank"
              rel="noopener"
              :title="item.name"
              >{{ item.link || item.name }}</a
            >

            <template v-else>
              <a
                :href="item.url.basel"
                target="_blank"
                rel="noopener"
                :title="item.name"
                >Basel</a
              >
              <a
                :href="item.url.tsri"
                target="_blank"
                rel="noopener"
                :title="item.name"
                >Zürich</a
              >
            </template>
          </p>
        </div>
      </li>
    </ul>
    <div v-if="listType === 'icon'" class="list-icons">
      <a
        v-for="(item, key, index) in sortedList"
        :key="index"
        :href="item.url"
        target="_blank"
        rel="noopener"
        :title="item.name"
        class="list-icons-link"
      >
        <img
          :src="`/images/social/${item.icon ? item.icon : item.name}.svg`"
          :alt="item.name"
        />
      </a>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      links: {
        denkmal: {
          url: 'https://denkmal.org',
          icon: 'Denkmal',
          name: 'Denkmal.org',
          description: 'Der Musik- und Partykalender für die Region Basel.'
        },
        gitlab: {
          url: 'https://gitlab.com/denkmal',
          name: 'GitLab',
          abstract: 'Code-Repository',
          description:
            'Hier gehts zum Quellcode unserer Applikationen.  Die Repositories sind öffentlich und die Inhalte open-source. PRs sind willkommen!'
        },
        slack: {
          url: 'mailto:kontakt@denkmal.org',
          name: 'Slack',
          abstract: 'Chat-Plattform',
          description:
            'Kontaktiere uns für Anregungen, Kritik oder Nerd-Talk. Hast du eine geniale Idee für eine Werbekampagne oder ein neues Feature? Die tägliche Vereins-Kommunikation findet hier statt. Schreib uns eine E-Mail um Zugang zu erhalten.',
          link: 'E-Mail'
        },
        medium: {
          url: 'https://medium.com/denkmal-org',
          name: 'Medium',
          abstract: 'Blog',
          description:
            'Abonniere Updates zu Weiterentwicklungen oder Veranstaltungen.'
        },
        newsletter: {
          url: 'http://eepurl.com/drWu2v',
          name: 'MailChimp',
          abstract: 'Newsletter',
          description:
            'Regelmässige Updates zu Vereinsaktivitäten in deine Mailbox.'
        },
        instagram: {
          url: {
            basel: 'https://www.instagram.com/denkmal.org_bsl/',
            tsri: 'https://www.instagram.com/denkmal_tsri/'
          },
          name: 'Instagram',
          abstract: 'Social media',
          description: 'Folge uns auf Instagram. Live und in Farbe.'
        },
        twitter: {
          url: {
            basel: 'https://twitter.com/denkmal_basel',
            tsri: 'https://twitter.com/denkmal_tsri'
          },
          name: 'Twitter',
          abstract: 'Social media',
          description:
            'Folge uns auf Twitter. Ausgewählte Events und Updates mit &lt;= 280 Zeichen.'
        },
        facebook: {
          url: {
            basel: 'https://facebook.com/denkmal.org.basel',
            tsri: 'https://www.facebook.com/denkmal.org.tsri/'
          },
          name: 'Facebook',
          abstract: 'Social media',
          description:
            'Like uns auf Facebook. <em>Wir</em> geben deine Daten nicht weiter.'
        }
      }
    }
  },
  props: {
    listType: {
      type: String,
      default: 'icon'
    },
    items: {
      type: Array,
      default: function() {
        return ['denkmal']
      }
    }
  },
  computed: {
    sortedList: function() {
      var self = this
      return Object.keys(this.links)
        .filter(function(item) {
          return self.items.includes(item)
        })
        .reduce((obj, key) => {
          obj[key] = self.links[key]
          return obj
        }, {})
    }
  }
}
</script>

<style lang="scss">
.social-links {
  .list-simple {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      white-space: nowrap;
    }
  }

  .list-detailed {
    margin: 0;
    padding: 0;

    li {
      display: flex;
      margin-bottom: 1em;

      .list-image {
        display: block;
        flex: 0 0 60px;
        height: 60px;
        padding-right: 15px;
        padding-top: 4px;
        width: 60px;
      }

      .list-content {
        flex-grow: 1;
        padding-top: 4px;

        a {
          margin-right: 0.4em;
        }
      }

      .abstract {
        font-size: 0.8em;
        margin-left: 5px;
        opacity: 0.8;
      }

      p {
        margin: 0;
        text-align: initial;
      }
    }
  }

  .list-icons {
    display: flex;

    .list-icons-link {
      display: block;
      height: 48px;
      padding: 4px;
      text-decoration: none;
      width: 48px;
    }
  }
}
</style>
