<template>
  <section id="supporter">
    <h2>Unterstützer</h2>
    <p>
      Wir danken folgenden Personen (und auch allen, die anonym bleiben wollen)
      herzlichst für die ideelle und/oder materielle Unterstützung. Ohne euch
      würde es Denkmal.org nicht geben. (Ohne bestimmte Reihenfolge)
    </p>

    <ul v-if="!isEmpty(supporter)" class="supporter-list">
      <li v-for="(item, index) in supporter" :key="index">
        {{ item.name }}
        <span v-if="item.heart">♥</span>
      </li>
    </ul>
    <div v-else-if="!error">
      <spinner />
    </div>
    <div class="error" v-if="error">Supporter können nicht geladen werden.</div>

    <div class="supporter-official">
      <figure>
        <img src="/images/supporter/kultur-bs.svg" alt="Kultur BS" />
        <figcaption>
          Unterstützt durch die Abteilung Kultur Basel-Stadt
        </figcaption>
      </figure>
      <figure class="wide">
        <img
          src="/images/supporter/sulger-stiftung.svg"
          alt="Sulger Stiftung"
        />
      </figure>
      <figure class="wide">
        <img
          src="/images/supporter/buergergemeinde-bs.svg"
          alt="Bürgergemeinde Basel"
        />
      </figure>
    </div>
  </section>
</template>

<script>
import Spinner from '~/components/Spinner'
import { isEmpty } from 'ramda'

export default {
  components: {
    Spinner
  },
  data() {
    return {
      isEmpty: isEmpty
    }
  },
  props: {
    supporter: {
      type: Array,
      default: () => []
    },
    error: {
      type: Boolean,
      default: () => false
    }
  }
}
</script>

<style lang="scss" scoped>
.supporter-list {
  font-size: 0.8em;
  line-height: 1.3;
  padding: 0;

  @media screen and (min-width: 500px) {
    text-align: justify;
  }

  > li {
    display: inline;
    font-style: italic;
    max-width: 100%;
    word-wrap: break-word;

    &:not(:last-child)::after {
      content: '•';
      white-space: pre;
    }
  }
}

.supporter-official {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
  margin-top: 2em;

  figure {
    margin: 0.8em 1em;
    width: 150px;

    &.wide {
      width: 230px;
    }
  }

  img {
    width: 90%;
  }

  figcaption {
    font-size: 0.7em;
  }
}
</style>
