<template>
  <section class="team">
    <h2>Kernteam</h2>
    <ul>
      <li v-for="(member, key) in members" :key="key">{{ member }}</li>
    </ul>
  </section>
</template>

<script>
export default {
  data: function() {
    return {
      members: [
        'Andreas Siegrist',
        'Christophe Schwyzer',
        'Elio Donauer',
        'Emilio Masullo',
        'Frederick Dürr',
        'Nico Roos',
        'Nicolas Schmutz',
        'Reto Kaiser',
        'Seraina Manser',
        'Simon Jacoby'
      ]
    }
  }
}
</script>

<style lang="scss">
.team ul {
  padding-left: 1.4em;

  @media screen and (min-width: 500px) {
    padding-left: 0;
  }

  > li {
    font-style: italic;
    white-space: nowrap;

    @media screen and (min-width: 500px) {
      display: inline-block;

      &:not(:last-child)::after {
        content: ' • ';
        white-space: pre;
      }
    }
  }
}
</style>
