<template>
  <div id="index">
    <section id="intro">
      <h1>Verein Denkmalmit</h1>
      <p class="intro">
        <em>Denkmalmit</em> ist der Verein hinter
        <a href="https://denkmal.org" target="_blank" rel="noopener"
          >Denkmal.org</a
        >, dem Eventkalender fürs Nachtleben in Basel und Zürich. Der seit 2004
        bewusst schlicht gehaltene Kalender wird redaktionell aufbereitet und
        hat sich mittlerweile mit rund 30’000 Aufrufen pro Monat als beliebte
        Plattform für die Ausgangsszene etabliert.
      </p>
      <div class="screenshots">
        <div class="screenshots-image">
          <img src="images/screenshots/1.jpg" alt="App Screenshots" />
        </div>
        <div class="screenshots-image">
          <img src="images/screenshots/4.jpg" alt="App Screenshots" />
        </div>
        <div class="screenshots-image">
          <img src="images/screenshots/2.jpg" alt="App Screenshots" />
        </div>
        <div class="screenshots-image">
          <img src="images/screenshots/3.jpg" alt="App Screenshots" />
        </div>
      </div>
    </section>

    <section id="association" v-scroll-reveal>
      <h2>Mitmachen</h2>
      <p>
        <em>Denkmalmit</em> richtet sich an Freunde von Denkmal.org, an
        Musikliebhaber, Partygänger, Veranstalter und zu guter Letzt auch an
        alle Künstler - mit Deinem Engagement sicherst Du die Zukunft von
        Denkmal.org! <em>Denkmalmit</em> und <em>Denkmal.org</em> sind offene
        Plattformen. Sowohl der Quellcode der Applikation, die verschiedenen
        Kommunikationskanäle, als auch die Mitgliedschaft im Verein sind frei
        zugänglich.
        <a
          href="https://gdoc.pub/doc/e/2PACX-1vRekflQDyBOPSFqfl472WVetOpCDI5w2GKr2odfgP7ynrDI9kFGtUID4igCWQGvnI_zoMqhq5-mVLcw"
          target="_blank"
          rel="noopener"
          >Statuten</a
        >
      </p>

      <h3>Was, wo, wie?</h3>
      <p>
        Du willst aktiv dabei sein, oder einfach nur auf dem Laufenden bleiben?
        Wie auch immer Du dich einbringen möchtest, wir haben die richtige
        Option für Dich:
      </p>
      <social-links listType="details" :items="['gitlab', 'slack']" />

      <h3>Werde Mitglied im Verein!</h3>
      <p>
        Unterstütze Denkmal.org langfristig - werde Mitglied im Verein. Sei es
        aktiv, durch Deine freiwillige Mithilfe, oder passiv, für ein paar
        wenige Bätzeli pro Jahr - dein Engagement macht den Unterschied und
        sichert die Zukunft von Denkmal.org. Mitgliederbeiträge werden einmal
        pro Jahr erhoben:
      </p>
      <ul>
        <li>
          Einzelperson (Passivmitglied):
          <span>CHF 25</span>.
        </li>
        <li>
          Veranstalter/Organisation (Passivmitglied):
          <span>CHF 150</span>.
        </li>
        <li>
          Aktive/Gönner:
          <span>Freier Betrag</span>.
        </li>
      </ul>

      <h4>Im Gegenzug bieten wir:</h4>
      <ul>
        <li>
          Denkmal.org bleibt aktuell, kostenlos, unabhängig und werbefrei.
        </li>
        <li>1x Überraschungsgeschenk/Jahr direkt in Deinen Briefkasten.</li>
        <li>Neuigkeiten zu den Vereinsaktivitäten.</li>
        <li>
          Wir setzen Dir hier auf der Webseite ein
          <a class="link-underline" href="#supporter">Denkmal</a>.
        </li>
      </ul>

      <a
        class="button button--primary"
        href="https://docs.google.com/forms/d/e/1FAIpQLSecptumZAPUwRP7wSV5amiUocH60AMnJmuuY-fR0_R00PE4GQ/viewform?usp=sf_link"
        target="_blank"
        rel="noopener"
        >Mitglied werden</a
      >
    </section>

    <denkmal-org v-scroll-reveal />
    <supporter v-scroll-reveal :supporter="supporter" :error="error" />
    <h3>Unterstützer werden!</h3>
    <p>
      Du vermisst deinen Namen auf der Liste? Dann hilf uns mit einer Spende. Du
      sicherst damit den Fortbestand von Denkmal.org und leistest einen
      wertvollen Beitrag an die Kulturszene von Basel und Zürich.
    </p>
    <donate />
    <team v-scroll-reveal />
  </div>
</template>

<script>
import Supporter from '~/components/Supporter'
import SocialLinks from '~/components/SocialLinks'
import Team from '~/components/Team'
import DenkmalOrg from '~/components/DenkmalOrg'
import Donate from '~/components/Donate'
import axios from 'axios'
import { path } from 'ramda'

// Source
// https://docs.google.com/spreadsheets/d/1FaC3_nwwNH5qTecfYuaWatfDTWEi7W6Jw8mzMXQZA-Y/edit#gid=0
const googleSheety =
  'https://api.sheety.co/b3e87bfc4c3128c40facf72395bb08a6/denkmalmitWebsite/supporter'

export default {
  components: {
    Supporter,
    SocialLinks,
    Team,
    DenkmalOrg,
    Donate
  },
  data() {
    return {
      supporter: [],
      error: false
    }
  },
  asyncData() {
    return axios({
      url: googleSheety,
      method: 'get'
    })
      .then(({ data }) => {
        let supporter = data.supporter.map(item => ({
          name: path(['name'], item),
          heart: Boolean(path(['heart'], item))
        }))

        return { supporter }
      })
      .catch(error => {
        console.log(error)
        return { error: true }
      })
  }
}
</script>

<style lang="scss">
#index {
  .screenshots {
    display: flex;
    margin-top: 2.4em;

    .screenshots-image {
      width: 25%;
    }
  }

  .social {
    display: flex;
    justify-content: flex-end;

    h4 {
      margin-top: 0;
    }
  }
}
</style>
